@charset "UTF-8";
body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 5% 0 5%;
  box-sizing: border-box;
  font-family: "DM sans", sans-serif;
}

p,
h2,
ul {
  margin: 0;
}

/*----- Header -----*/
header {
  padding-top: 2.6rem;
  margin-bottom: 1.1rem;
  text-align: center;
}
header a {
  text-decoration: none;
}
header h1 {
  margin: 0;
  color: #D04F4F;
  font-weight: 700;
  font-size: 2.25rem;
}

.filterOptions-section {
  display: flex;
  flex-direction: column;
}

/*----- SearchBar -----*/
.search-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4.3rem;
  border-radius: 0.3rem;
  background-color: #E7E7E7;
}
.search-section input {
  background-color: transparent;
  width: 90%;
  border: none;
  padding: 1.4rem 0 1.4rem 1.4rem;
  outline: none;
  font-size: 1.125rem;
  color: black;
}
.search-section input:placeholder-shown {
  text-overflow: ellipsis;
}
.search-section .search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 2rem;
  height: 100%;
  width: 4rem;
}

/* clears the ‘X’ from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/*----- Dropdowns -----------------------------------------------------------------------*/
#dropdowns-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.25rem;
  width: 100%;
  color: white;
}

.dropdown {
  user-select: none;
  font-size: 1.125rem;
  width: 100%;
  height: fit-content;
  border-radius: 0.3rem;
  font-weight: bold;
  z-index: 1000;
}

.dropdown[open] summary {
  display: none;
}

summary {
  max-width: 100%;
  text-transform: capitalize;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
summary img {
  object-fit: contain;
}

.dropdown-search-section {
  max-width: 100%;
  display: flex;
  padding-right: 1rem;
}
.dropdown-search-section input {
  font-size: 1.125rem;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 1.25rem;
  width: 100%;
}
.dropdown-search-section input::placeholder {
  color: white;
  opacity: 50%;
}
.dropdown-search-section img {
  object-fit: contain;
}

.ingredients-dropdown {
  background-color: #3282F7;
}

.appliances-dropdown {
  background-color: #68D9A4;
}

.ustensils-dropdown {
  background-color: #ED6454;
}

.arrow-up {
  cursor: pointer;
  transform: rotate(180deg);
}

.dropdown-list {
  padding: 0 1rem 1rem 1rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
}
.dropdown-list li {
  font-weight: 400;
  text-align: left;
  cursor: pointer;
}
.dropdown-list li:hover {
  text-decoration: underline;
}

@media all and (min-width: 500px) {
  .dropdown-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (min-width: 700px) {
  .dropdown-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (min-width: 1200px) {
  #dropdowns-container {
    flex-direction: row;
    max-height: 56px;
  }

  .dropdown {
    width: 170px;
  }

  .dropdown[open] {
    width: 700px;
  }
}
@media all and (min-width: 1200px) {
  .dropdown-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/*----- Recipes --------------------------------------------------------------------------*/
#results-container {
  margin: 2.1rem 0 6.2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.1rem;
}
#results-container .noResultsMsg {
  color: #D04F4F;
  grid-column-start: span 3;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5rem;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  height: 22.75rem;
  border-radius: 0.3rem;
  overflow: hidden;
  cursor: pointer;
}
.recipe-card:hover {
  box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.2);
}

.recipe-image {
  min-height: 168px;
  background-color: #C7BEBE;
}

.recipe-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 6%;
  height: 10.5rem;
  background-color: #E7E7E7;
  font-size: 0.75rem;
  padding: 1.25rem;
}
.recipe-content__heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 1.125rem;
  margin-bottom: 1.25rem;
}
.recipe-content__heading h2 {
  font-size: 1.125rem;
}
.recipe-content__heading .duration {
  min-width: 25%;
  text-align: right;
  font-size: 1.125rem;
  font-weight: bold;
}
.recipe-content__heading .duration::before {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 100;
  content: "";
  margin-right: 0.25em;
}
.recipe-content__ingredients {
  height: 8em;
  overflow: hidden;
  padding: 0;
  width: 47%;
  list-style: none;
  font-weight: bold;
}
.recipe-content__ingredients .quantity {
  font-weight: 400;
}
.recipe-content__instructions {
  overflow: hidden;
  height: 8em;
  width: 47%;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media all and (max-width: 1200px) {
  #results-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
  }
}
@media all and (max-width: 780px) {
  #results-container {
    grid-template-columns: 1fr;
  }
}
/*------------------------------------Tags--------------------------------------------*/
#tags-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
#tags-container .tag {
  user-select: none;
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  height: 2.3rem;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
#tags-container .tag::after {
  display: block;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: normal;
  font-size: 1.1rem;
  content: "";
  margin-left: 0.6rem;
}
#tags-container .tag__ingredients {
  background-color: #3282F7;
}
#tags-container .tag__appliances {
  background-color: #68D9A4;
}
#tags-container .tag__ustensils {
  background-color: #ED6454;
}

/*# sourceMappingURL=style.css.map */
